<footer class="{{styles.profileHeader}}">
   <a data-page="login" href="/login">Login</a>
   <a data-page="signup" href="/signup">Signup</a>
   <a data-page="profile" href="/profile">Profile</a>
   <a data-page="edit" href="/profile/edit">edit profile</a>
   <a data-page="password" href="/profile/password">edit password</a>
   <a data-page="error" href="/notfound">error</a>
</footer>


